<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block page_title %}首页{% endblock %} | {{ application_name }}</title>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
