<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>INDEX</title>
</head>
<body>
  <center>
    <h2>Esp8266 Temperature Statistics</h2>
  </center>
  <p>this is the backfront index page, see <code>esp8266-temperature-statistics-frontend</code> for frontend,</p>
</body>
</html>
