<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>INDEX</title>
</head>
<body>
  {% set message = 'HELLO NUNJUCKS!' %}
  <center>
    <h2>{{ message }}</h2>
  </center>
</body>
</html>
